#stats{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

#chart-small{
    display: flex;
    justify-content: space-between;
}