#linechart{
    position: relative;
    height: 263px;
    width: 258px;
    background-color: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

#linechart-title{
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    width: 147px;
    position: absolute;
    top: 8%;
    left: 13%;
}

.custom-tooltip-linechart{
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 8px;
}