#stats{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

#chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chart-small{
    display: flex;
    justify-content: space-between;
    margin-top: 2.4%;
}

#cards{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1440px) {
    #stats{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #chart{
        margin-right: 30px;
    }

    #cards{
        flex-direction: column;
    }
}