#barchart{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 830px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin-top: 35px;
}

#barchart-title{
    font-size: 15px;
    color: #20253A;
    position: absolute;
    top: 7%;
    left: 4%;
}

#barchart .recharts-legend-item{
    padding-left: 32px;
}

.custom-tooltip{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #E60000;
    border: 0 transparent;
}

.custom-tooltip p {
    color: #FFFFFF;
    font-size: 7px;
    line-height: 24px;
    text-align: center;
    padding: 5px;
}