.card{
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    width: 258px;
    height: 124px;
    margin-top: 35px;
}

.card img {
    width: 60px;
    height: 60px;
    margin: 32px 24px 32px 32px;
}

.card-number{
    color: #282D30;
    font-weight: 700;
    font-size: 20px;
}

.card-type {
    color :#74798C;
    font-size: 14px;
}

